.home-container {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  font-family: 'Roboto';
  background-color: #152850;
}
.header-cont-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}
.website-logo {
  height: 50px;
  width: 140px;
  margin: 10px;
}
.logout-button {
  font-family: 'Roboto';
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 90px;
  margin: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}
.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.home-heading {
  color: #e0eefe;
  font-weight: bold;
  font-size: 45px;
  margin: 10px;
}
.debit-card {
  height: 50vh;
  width: 40vw;
  margin-top: 30px;
}
